*{
    margin:0;
    padding:0;
}
.box{
    width:100%;
    height: 100%;

}
dl{
    width:100%;
    height: 25%;
    border-radius:10px;
    background:#ccc;
    margin-top:5px;
}
dl dt{
    width:100%;
    height: 50%;
    border-radius:10px 10px 0  0;
    background:#00f;
}
dl dt h1{
    width:50%;
     text-align: left;
   display:inline-block;
}
dl dt h1 span{
    font-size:14px;
}
dl dt h3{
    width:50%;
    text-align: right;
   display:inline-block;
}
dl dd{
    width:100%;
    height: 50%;
  border-radius:0 10px 0 10px;
}
dl dd p{
  font-size:12px;
  line-height:20px;
}